@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');

.SideMenu {
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  place-items: center;
  margin: 28px;
}

.GoalGridAppLayout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 10px;
  background-color: #A0CA92;
  padding: 40px 20px;
}

.GoalGrid-Title {
  font-family: Laila;
  color: aliceblue;
  font-size: 40px;
  margin-top: 0px;
}


.MenuButton, .SettingsButton {
  background-color: #F0EDFF;
  border-style: solid;
  border-color: #7F669D;
  border-width: 4px;
  /*padding: 10px;*/
  width: 200px;
  height: 50px;
  border-radius: 20px;
  transition-duration: 0.5s;
  transition-property: background-color;
  font-family: laila;
  font-size: 20px;
  color: #5C3D27;
}

.SettingsButton {
  width: 75px;
}

.MenuButton:hover, .SettingsButton:hover {
  color: white;
  background-color: #785d96;
  cursor: pointer;
}

.MenuButton:active, .SettingsButton:active {
  background-color: azure;
}