.SideMenu {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  place-items: center;
  margin: 30px;
}

.GoalGridAppLayout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 10px;
  background-color: #A0CA92;
  padding: 40px 20px;
}

.Grid {
  background-color: orange;
}

.MenuButton, .SettingsButton {
  background-color: white;
  border-style: solid;
  border-color: orange;
  border-width: 4px;
  /*padding: 10px;*/
  width: 200px;
  height: 50px;
  border-radius: 20px;
  transition-duration: 0.5s;
  transition-property: background-color;
  font-family: laila;
  font-size: 20px;
}

.SettingsButton {
  width: 75px;
}

.MenuButton:hover, .SettingsButton:hover {
  background-color: rgb(226, 225, 225);
  cursor: pointer;
}

.MenuButton:active, .SettingsButton:active {
  background-color: azure;
}
