@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');

.addgoals-content {
  /*
  justify-content: center; */ /*places it center row, but stretches out items*/
  align-items: center; /* returns items to normal size */
  /*border: 1px red solid;*/

  display:flex;
  flex-direction: column;
  width: 100%;
  /*max-width: 1200px;*/
}

.addgoal-title {
  margin: 5px;
  font-family: Laila;
}

.addgoal-input {
  width: 30%;
  height: 25px;
  text-align: center;
  margin-bottom: 5px;
  border: solid orange 5px;
  border-radius: 20px;
  /*box-shadow: 0px 0px 10px orange;*/
}

.addgoal-addbutton, .addgoal-clearbutton {
  border: none;
  border-radius: 10px;
  background-color: #998650;
  padding: 10px 20px;
  box-shadow: 0px 2px 1px gray;
  font-weight: bold;
  margin: 5px;
}

.addgoal-list {
  padding-left: 0px;
  width: 50%;
}

.addgoal-listitem {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  background-color: white;
  border-radius: 20px;
  border-style: solid;
  border-color: orange;
  border-width: 5px;

  list-style: none;
  text-align: center;
  place-items: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: Laila;
  height: 40px
}

.false, .true {
  border: solid;
  border-radius: 20px;
}

.false {
  background-color: azure;
}

.true {
  background-color: #ECA400;
}